<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing <% item.name %></title>
     <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    
    <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=PUT" method="POST">
     <label for="foodname">Edit food:</label>
    <input type="text" name="foodname" id="foodname"  value="<%= item.name %>"/>
    
    <button type="submit">Confirm</button>
    </form>
</body>
</html>