<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
     <form action="/users/<%= user._id %>/foods/" method="POST">
    <label for="new food">New food:</label>
    <input type="text" name="foodname" id="foodname" required />
    
    <button type="submit">Add new food</button>
  </form>
</body>
</body>
</html>